#newchat {
    display:none;
    position:absolute;
    cursor:pointer;
    width:350;
    height:58px;
}

.livechat-container.left {
    width:206px;
    height:58px;
    background-color: #3a3a3a;
    color:#fff;
    float:left;
}

.livechat-container.left .livechat-wrapper-1 {
    float:left;
    position:relative;
    left:5px;
}
.livechat-container.left .livechat-wrapper-2 {
    float: left;
    position: relative;
    padding: 7px 0px 9px 10px;
}

.livechat-container.left .livechat-closebtn {
    position: relative;
    height:20px;
    bottom: 22px;
    right: 5px;
    cursor:pointer;
}

.livechat-container.left .livechat-icon {
    position: relative;
    top: 7px;
    right: 7px;
    height:43px;
}

.livechat-container.right{
    width:58px;
    height:58px;
    float:left;
    box-shadow:13px 0px 7px -8px  #3a3a3a inset;
    cursor:pointer;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #07bdef;
}

.livechat-container.right:hover{
    background-color: #38d0fa; /* Green */
}

.livechat-container.right img{
    position: relative;
    top: 14px;
    height:29px;
    left:1px;
}
#pop-newchat{
    height: auto;
    width: 290px;
    background: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2),0 1px 4px 0 rgba(0,0,0,0.19) !important;
}

.pop-text-div{
    padding: 15px 50px;
    margin-bottom: 5px;
    min-height: 70px;
}
.looking-for-the-right{
    height: auto;
    color: #333;
    font-size: 12px;
    text-align: center;
}
.would-you-like-some {
    margin:15px 0px;
    height: auto;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
}
.would-you-like-some-1 {
    margin-bottom: 15px;
    height: auto;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
}
.pop-image-style{
    height: 150px;
    width: 290px;
    border-radius: 3px 3px 0 0;
    background-color: #D8D8D8;
}
.button-pop{
    height: 30px;
    width: 119px;
    border-radius: 4px;
    background-color: #FFCE34; 
    padding: 5px 0px;
    margin: 0 auto;
    cursor: pointer;
}
.text-button{
    height: 16px;
    width: 87px;
    color: #333;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}


.pop-closebtn{
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    padding: 5px 5px 0px 0px;
    cursor:pointer;
}



